*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(97, 167, 198);
    font-family: "Roboto", sans-serif;
}
.wrapper{
    width: 561px;
    height: 675px;
    background-color: white;
    border-radius: 23px;
    box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.25); 
    margin: 0 auto;
    padding: 15px 25px;
    margin-top: 20px;
  
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.name_block,
.subscribe_box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.circle{
    width: 52px;
    height: 52px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #999999;
    display: inline-block;  
}
li{
    list-style: none;
}
.name{
    font-size: 16px;
}
.username{
    font-size: 15px;
}

.subscribe{
    color: white;
    background-color: black;
    border-radius: 51px;
    font-size: 20px;
    padding: 5px 15px;
}
.main_text,
.hashtag {
    font-size: 22px;
}
.hashtag{
    margin-bottom: 20px;
}
.rectangle{
    width: 513px;
    height: 332px;
    border-radius: 23px;
    background-color: #999999;
    margin-bottom: 25px;
}
.time_date,
.footer{
  font-size: 14px;
}

.time_date{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 25px;

}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comments,
.reactions,
.flag {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.arrows{
    display: flex;
    align-items: center;
}
