* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: manrope, sans-serif;
}

header {
  background: url(./images/heroFoto.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 754px;
  padding: 35px 122px;
  position: relative;
  margin-bottom: 120px;
}
header nav {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
header ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
header li {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
header .button1 {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(248, 70, 70);
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
  border-radius: 5px;
}
header .h1andtext {
  width: 665px;
  height: 406px;
  position: absolute;
  top: 200px;
  left: 122px;
}
header h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 82px;
  margin-bottom: 20px;
}
header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  word-spacing: 0.2px;
  margin-bottom: 50px;
}
header .inputBox {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-bottom: 148px;
}
header input {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  word-spacing: 0.2px;
  border: none;
  margin-left: 32px;
  margin-top: 19px;
  margin-right: 150px;
}
header .button2 {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(248, 70, 70);
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  word-spacing: 0.2px;
  padding: 13px 37px;
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}

aside h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
}
aside .gridMaintext {
  font-weight: 400;
  font-size: 24px;
  line-height: 39.5px;
  word-spacing: 0.2px;
  margin: 0 auto;
  max-width: 994px;
  text-align: center;
  margin-bottom: 90px;
}
aside .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
  text-align: center;
  max-width: 1153px;
  margin: 0 auto;
  margin-bottom: 140px;
}
aside .file_ellipse,
aside .star_ellipse,
aside .crown_ellipse,
aside .chart_ellipse,
aside .piece_ellipse,
aside .figma_ellipse {
  position: relative;
  display: inline-block;
  width: 76px;
  height: 76px;
  margin-bottom: 10px;
}
aside .fileLogo,
aside .crownLogo,
aside .pieceLogo,
aside .figmaLogo {
  position: absolute;
  top: 0;
  left: -10px;
}
aside .chartLogo,
aside .starLogo {
  position: absolute;
  top: 0;
  left: 20px;
}
aside .ellipse {
  width: 45px;
  height: 45px;
}
aside h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 10px;
}
aside p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  word-spacing: 0.2px;
}

.red_wrapper {
  background-image: linear-gradient(rgb(248, 70, 70), rgba(232, 77, 77, 0.968)), url(./images/redFrameBack.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 65px 67px 100px 65px;
  width: 100%;
  height: 400px;
  margin-bottom: 160px;
}
.red_wrapper h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  word-spacing: 8px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 8px;
}
.red_wrapper p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 70px;
}
.red_wrapper .red_wrapper_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.red_wrapper li {
  font-weight: 700;
  font-size: 14px;
  line-height: 21.5px;
  color: rgb(255, 255, 255);
  list-style: none;
}

.section_meeting {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 120px;
}
.section_meeting .text_meeting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
}
.section_meeting h2 {
  font-weight: 700;
  font-size: 58px;
  color: rgb(46, 46, 46);
}
.section_meeting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 28.5px;
  color: rgb(128, 128, 128);
}
.section_meeting button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(248, 70, 70);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 58px;
  width: 160px;
}
.section_meeting img {
  width: 504px;
  height: 480px;
  border-radius: 8px;
  object-fit: cover;
}

.section_laptop {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 120px;
}
.section_laptop .text_laptop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
}
.section_laptop h2 {
  font-weight: 700;
  font-size: 58px;
  color: rgb(46, 46, 46);
}
.section_laptop p {
  font-weight: 400;
  font-size: 14px;
  line-height: 28.5px;
  color: rgb(128, 128, 128);
}
.section_laptop button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(248, 70, 70);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 58px;
  width: 160px;
}
.section_laptop img {
  width: 504px;
  height: 480px;
  border-radius: 8px;
  object-fit: cover;
}

.grey_section {
  background-color: rgb(244, 245, 247);
  width: 100%;
  height: auto;
  padding: 45px 38.5px 73px 38.5px;
  margin-bottom: 160px;
}
.grey_section h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: rgb(24, 25, 31);
}
.grey_section p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: rgb(24, 25, 31);
  margin-bottom: 48px;
}
.grey_section .greySection_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.grey_section .greySection_flex span {
  width: 170px;
  height: 96px;
  padding: 15px 18px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(212, 217, 232, 0.2);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grey_section .column1,
.grey_section .column2,
.grey_section .column3,
.grey_section .column4,
.grey_section .column5 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 160px;
}
.contact_section .contact_foto {
  position: relative;
  display: inline-block;
}
.contact_section .contact_foto .people {
  display: block;
}
.contact_section .contact_foto .redCircle {
  width: 61px;
  height: 61px;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: -1;
}
.contact_section h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.contact_section p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}
.contact_section button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(248, 70, 70);
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 25px 40px;
}

footer * {
  font-family: "Inter", sans-serif;
}

footer {
  color: rgb(255, 255, 255);
  background: rgb(248, 70, 74);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px 100px 70px 5px;
}
footer .box1 {
  display: flex;
  gap: 100px;
}
footer .box1 .row1,
footer .box1 .row2,
footer .box1 .row3,
footer .box1 .row4 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .box1 h4 {
  font-size: 700;
  font-size: 16px;
  line-height: 24px;
}
footer .box1 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .box1 li {
  font-size: 400;
  font-size: 16px;
  line-height: 32px;
  word-spacing: 0%;
}
footer .box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .box2 .copyright {
  font-size: 400;
  font-size: 16px;
  line-height: 32px;
}
footer .box2 .socialNetworks {
  display: flex;
  gap: 16px;
}

/*# sourceMappingURL=style.css.map */
