*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: manrope, sans-serif;
    
}

@mixin buttonDef{
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 70, 70, 1);
    border-radius: 8px;
}
 


header {
    background: url(./images/heroFoto.svg) center / cover no-repeat;
    width: 100%;
    min-height: 754px;
    padding: 35px 120px;
    position: relative;
    margin-bottom: 120px;


 nav{
    display: flex;
    justify-content:flex-end;
    gap: 40px;
    
     
 }
 .burgerMenu{
    display: none;
 }
ul{
  display: flex;
  align-items: center;
  gap: 40px;
 
}
li{
    
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
   
}
.button1{
    @include buttonDef;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    
}
.h1andtext{
    max-width: 665px;
    max-height: 406px;
    top: 200px;
    left: 122px;
    position: absolute;
    text-wrap: wrap;
    
    
}
h1{
    
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
    margin-bottom: 20px;
}
p{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    word-spacing: 0.2px;
    margin-bottom: 50px;
}

.inputBox{
    display: inline-block;
    background-color:rgba(255, 255, 255, 1) ;
    border-radius: 8px;
    margin-bottom: 148px;

}


input{
    color: rgba(0, 0, 0, 0.4);
    margin-top: 19px;
    margin-left: 32px;
    margin-right: 150px;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    word-spacing: 0.2px;
    border: none; 
  
    
    
}
.button2{
    @include buttonDef;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    word-spacing: 0.2px;
    padding: 13px 37px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}
}






aside{
    h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 30px;

    }
    .gridMaintext{
    font-weight: 400;
    font-size: 24px;
    line-height: 39.5px;
    word-spacing: 0.2px;
    margin: 0 auto;
    max-width: 994px;
    text-align: center;
    margin-bottom: 90px;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 90px;
        text-align: center;
        max-width: 1153px;
        margin: 0 auto;
        margin-bottom: 140px;
    }
    .file_ellipse,
    .star_ellipse,
    .crown_ellipse,
    .chart_ellipse,
    .piece_ellipse,
    .figma_ellipse
     {         
            position: relative;
            display: inline-block;
            width: 76px;
            height: 76px;
            margin-bottom: 10px;
        }
    .fileLogo,
    .crownLogo,
    .pieceLogo,
    .figmaLogo
             {
            position: absolute;
            top: 0;
            left: -10px;
        }
        
  .chartLogo,
  .starLogo
   {
            position: absolute;
            top: 0;
            left: 20px;

  }
    .ellipse
    {
            width: 45px;
            height: 45px;  
                 
        }

      
    

   h3{
   font-weight: 800;
   font-size: 24px;
   line-height: 100%;
   margin-bottom: 10px;
   }
    p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    word-spacing: 0.2px;
  
   }

    }

  


    .red_wrapper{
        background-image: linear-gradient(rgba(248, 70, 70, 1),
        rgba(232, 77, 77, 0.968)),
        url(./images/redFrameBack.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 65px 67px 100px 65px;
        width: 100%;
        height: 400px;
        margin-bottom: 160px;

     
        h2{
            
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            word-spacing: 8px;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            margin-bottom: 8px;
        }
         p{
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            margin-bottom: 70px;
        }
    
      .red_wrapper_flex{
        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
      }  
      li{
         font-weight: 700;
         font-size: 14px;
         line-height: 21.5px;
         color: rgba(255, 255, 255, 1);
         list-style: none;

      }
    
}


  

.section_meeting{

    display: flex;
    gap: 100px;
    margin: 0 auto;
    margin-bottom: 120px;
    justify-content: center;



.text_meeting{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    
    
}

h2{
         font-weight: 700;
         font-size: 58px;
         color: rgba(46, 46, 46, 1);
         
}
p{       font-weight: 400;
         font-size: 14px;
         line-height: 28.5px;
         color: rgba(128, 128, 128, 1);
         
}
button{
    @include buttonDef;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 58px;
    width:160px;

}
img{
    max-width: 504px;
    max-height: 480px;
    border-radius: 8px;
    object-fit: cover;
}

} 
    
.section_laptop{
    display: flex;
    gap: 100px;
    margin: 0 auto;
    margin-bottom: 120px;
     justify-content: center;


.text_laptop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    
}

h2{
         font-weight: 700;
         font-size: 58px;
         color: rgba(46, 46, 46, 1);
         
}
p{       font-weight: 400;
         font-size: 14px;
         line-height: 28.5px;
         color: rgba(128, 128, 128, 1);
         
}
button{
   @include buttonDef;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 58px;
    width:160px;
}
img{
    max-width: 504px;
    height: 480px;
    border-radius: 8px;
    object-fit: cover;
}
}

.grey_section{
    background-color: rgba(244, 245, 247, 1);
    width: 100%;
    height: auto;
    padding: 45px 38.5px 73px 38.5px;
    margin-bottom: 160px;

h2{
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: rgba(24, 25, 31, 1);
}
p{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: rgba(24, 25, 31, 1);
    margin-bottom: 48px;

}

.greySection_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  
 span{
    width: 170px;
    height: 96px;
    padding: 15px 18px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
}
.column1,
.column2,
.column3,
.column4,
.column5{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

}

.contact_section{ 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 160px;


.contact_foto {
    position: relative;
    display: inline-block;

    .people {
        display: block;

    }

    .redCircle {
        width: 61px;
        height: 61px;
        position: absolute;
        top: 10px;
        right: 0;
        z-index: -1;
    }
}
h2{
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

p{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
}
button{
    @include buttonDef;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 25px 40px;
    
}

}
footer *{
     font-family: "Inter", sans-serif;
}
footer {
   
    color: rgba(255, 255, 255, 1);
    background: rgba(248, 70, 74, 1);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px 100px 70px 100px;


.box1{
    display: flex;
    gap: 100px;

    .row1,
    .row2,
    .row3,
    .row4{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    h4{
        font-size: 700;
        font-size: 16px;
        line-height: 24px;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    li{
        font-size: 400;
        font-size: 16px;
        line-height: 32px;
        word-spacing: 0%;
    }
   
}


.box2{
    display: flex;
    align-items: center;
    justify-content: space-between;

.copyright{
    font-size: 400;
    font-size: 16px;
    line-height: 32px;
}
.socialNetworks{
    display: flex;
    gap: 16px;
}

}
 


}



 @media  (min-width: 764px) and (max-width: 1024px){
    
  header {
    
    height: auto;
    padding: 35px 40px;

 nav{
     justify-content: center;
     
 }
.h1andtext{
    top: 162px;
    left: 84px;
    width: 665px;
    height: 365px;
  
}
h1{
    
    width: 665px;

}
p{
    
    width: 565px;
    
}

.inputBox{
    width: 422px;
    margin-bottom: 127px;

}
input{
    
    margin-left: 26px;
    margin-right: 31px;
    
    
}
}


aside{
    text-align: center;
    padding: 5px 80px;
  
 
.gridMaintext{
   
    max-width: 852px;
    
   
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 116px;
        max-width: 764px;
        margin-bottom: 130px;
        
    }
       
  }

    .red_wrapper{
       background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        width: 100%;
        min-height: 376px;
        margin-bottom: 100px;


    h2{
            font-size: 38px;
            word-spacing: 1px;
            line-height: 40px;
        }
         p{
            
            font-size: 16px;
            line-height: 20px;
           
        }
    
      .red_wrapper_flex{
        
        display: flex;
        justify-content: space-around;
        
      }  
      li{
        
         font-size: 14px;
         

      }
             
    
}


.section_meeting{
   
   gap: 50px;
   
    
.text_meeting{
    max-width: 45%;
    
}
h2{
         
 font-size: 38px; 
 line-height: 40px;           
}
p{
    line-height: 25px;
}
    
img{
    width: 45%;
    height: 400px;
}

} 
    
.section_laptop{
    
    gap: 50px;
   
  
.text_laptop{
    max-width: 45%;
    
}

h2{
   font-size: 38px; 
   line-height: 40px;   
         
}
p{
    line-height: 25px;
}

img{
    max-width: 424px;
    max-height: 404px;   
}
}

.grey_section{
 

.greySection_flex{
    
    gap: 20px;
  
 span{
    width: 120px;
    height: 65px;
    padding: 15px 18px;

img{
    width: 100px;
    height: 50px;
}
    
 }

.column1,
.column2,
.column3,
.column4,
.column5{
    
    gap: 20px;
}

}
}

footer {
    padding: 80px 60px 70px 60px;

.box1{
    display: flex;
    gap: 50px;

    .row1,
    .row2,
    .row3,
    .row4{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    h4{
        
        line-height: 18px;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    li{
        
        line-height: 20px;
    }
   
}

.box2{
    display: flex;
    align-items: center;
    justify-content: space-around;

   }

  }

}


@media (max-width: 763px) {
  
header {
    height: 900px;
    margin-bottom: 60px;

ul{
  display: flex;
  flex: 1;
}
li {
    display: none;
}
.burgerMenu{
    display: block;
}

.h1andtext{
    text-align: center;
    width: 335px;
    
}
   h1{
    
    font-size: 48px;
   
}
p{

    margin-bottom: 43px;
}

.inputBox{
    margin-bottom: 85px;

}


input{
   
    margin-top: 13px;
    margin-left: 24px;
    margin-right: 17px;
    
    
}
.button2{
    width: 90px;
    height: 50px;
    padding: 6px 10px;
}
}

aside{
    
   h2{
    margin-bottom: 15px;
   }
    .gridMaintext{
    width: 335px;
    margin-bottom: 40px;
    }
    .grid{
        grid-template-columns: 1fr;
        gap: 80px;
        max-width: 298px;
        margin-bottom: 90px;
    }

    }


    .red_wrapper{
        padding: 50px 20px;
        width: 100%;
        height: auto;
        margin-bottom: 90px;
        
        h2{
            width: 335px;
            margin: 0 auto;
            
        }
         p{
            
            margin-bottom: 70px;
        }
    
      .red_wrapper_flex{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 40px;
        

        img{
            transform: rotate(90deg);
            width: 36px;
            height: 36px;
        }
      } 
       
    
    
}


.section_meeting{

    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    margin-bottom: 60px;
    align-items: center;
    text-align: center;



.text_meeting{
    width: 335px;
    
}

h2{     
        font-size: 36px;
        width: 335px;
         
}
p{      width: 335px;
         
}
button{
    
    width:335px;

}
img{
    width: 335px;
    height: auto;
  
}

} 
  
 .section_laptop{

    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
    align-items: center;
    text-align: center;



.text_laptop{
    width: 335px;
    
}

h2{     
        font-size: 36px;
        width: 335px;
         
}
p{      width: 335px;
         
}
button{
    
    width:335px;

}
img{
    width: 335px;
    height: auto;
}

}  

.grey_section{
    padding: 40px 50px;
    margin-bottom: 90px;

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 41.5px;
   
}
p{
    
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;

}

.greySection_flex{
    display: flex;
    flex-direction: column;
}

}

.contact_section{ 
    margin-bottom: 82px;


.contact_foto {
    position: relative;
    display: inline-block;

    .people {
        width: 96px;
        height: 96px;
        display: block;

    }

    .redCircle {
        width: 45px;
        height: 45px;
    }
}
h2{
   
    font-size: 36px;
    margin-bottom: 12px;
}

p{
    width: 335px;
    font-size: 14px;
    margin-bottom: 20px;
}
button{
    
    font-size: 16px;
    line-height: 20px;
    padding: 11px 20px;
    
}
}
footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    


.box1{
    display: flex;
    flex-direction: column;
    gap: 49px;
   
}

.box2{
    display: flex;
    flex-direction: column-reverse;
    gap: 62px;

}
 


}
}